{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="corps">
        <div class="firstPart">
            <h1>Profil</h1>
            <br>
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <h2>Bienvenue sur ta page de profil {{ infoUser.prenom }}</h2>
                <a href="{{ path('logout') }}"><span> Déconnexion </span></a><br>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_crud_user_new') }}"><span> Créer un nouvel utilisateur </span></a><br>
                {% endif %}
                <a href="{{ path('app_crud_user_edit') }}"><span> Modifier mon profil </span></a><br>
                <a href="{{ path('app_crud_user_show') }}"><span> Mes informations </span></a><br>
            {% else %}
                <a href="{{ path('connexion') }}"><span> Je me connecte </span></a><br/>
                <a href="{{ path('inscription') }}"><span> Je m'inscris </span></a>
            {% endif %}
        </div>
    </div>

    <style>
        .corps{
            width: auto;
            height: auto;
            border: 1px solid black;
            margin: 2%;
        }
        .firstPart{
            width: auto;
            height: 250px;
            border: 1px solid black;
            margin: 2%;
            text-align: center;
        }
        .block{
            width: auto;
            height: auto;
            border: 1px solid black;
            margin: 2%;

        }
    </style>
{% endblock %}
