{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="corps">
        <div class="firstPart">
            <h1>Inscription</h1>
        </div>
        <div class="block">
            {{ form_start(form) }}
            <p>Nom :</p>
            {{ form_widget(form.nom) }}<br>
            <p>Prénom :</p>
            {{ form_widget(form.prenom) }}<br>
            <p>Mail :</p>
            {{ form_widget(form.mail) }}<br>
            <p>Âge :</p>
            {{ form_widget(form.age) }}<br>
            <p>Mot de passe :</p>
            {{ form_widget(form.motDePasse) }}<br>
            {{ form_rest(form) }}<br>
            <button class="btn btn-light" type="submit">Inscription</button><br>
            <br>
            <a href="{{path('connexion')}}">J'ai déjà un compte.</a>
            <br>
            {{ form_end(form) }}
        </div>
    </div>

    <style>
        .corps{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            background-color: #BAD4D8;
            border-radius: 50px;
        }
        .firstPart{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            text-align: center;
        }
        .block{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            text-align: center;
        }

    </style>
{% endblock %}
