{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
    <div class="corps">
        <div class="firstPart">
            <h1>Films</h1>
            <br>
            <select class="form-select unMargin" aria-label="Default select example">
                <option selected>Catégorie</option>
                <!--Pour x in XXX -->    <!--Appel de l'API pour les catégories-->
                {% for categori in categorie.genres %}
                    <option value="{{ categori.name }}">{{ categori.name }}</option>
                {% endfor %}
            </select>
            <br>
            {% if user != null and user.getAge() <= 18 %}
            <a>Vous n'avez pas plus de 18 ans ! </a>
            {% endif %}
            <div class="row unMargin">

                {{ form_start(form) }}
                <button class="btn btn-light" type="submit">Rechercher</button><br>
                {{ form_end(form) }}

            </div>
        </div>
{#        <div class="block_cat">#}
{#            <div class="uneCase_Cat">#}
{#                <h3>Catégories</h3>#}
{#                <br>#}
{#                <p>Voici l'ensemble des films selon leurs catégories.</p>#}
{#                {% for categorie in categories.genres %}#}
{#                    <a style="font-size: 15px;" class="btn btn-light" href="{{ path('app_resultat', {'idCategory':categorie.id}) }}">{{ categorie.name }}</a>#}
{#                {% endfor %}#}
{#                <br>#}
{#            </div>#}
{#        </div>#}
        {% for movie in movies %}
        {% set movieDetails = controller.getFilmById(movie.id) %}
        <div class="mesFilms">
            <div class="uneCase">
                <br>
                <p style="font-size: 150%;"><strong>Titre :</strong> {{ movie.original_title}}  </p>
                <img class="image" style="width: 50%; height: 40%; text-align: center;" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}">
                <br>
                <br>
                <p><strong>Description :</strong> {{ movie.overview|length > 150 ? movie.overview|slice(0, 150) ~ '...' : movie.overview }} </p>
                <p><strong>Durée :</strong> {{ movieDetails.runtime}} minutes</p>
                <p><strong>Réalisation :</strong>
                    {% for producer in movieDetails.production_companies %}
                    <a> {{ producer.name }}</a>
                    {% endfor %}
                </p>
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('WatchList', {'id': movie.id }) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-star" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        Ajouter aux favoris
                    </a>
                {% else %}
                    <a href="{{ path('profil') }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" class="bi bi-star" viewBox="0 0 16 16">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                        Ajouter aux favoris
                    </a>
                {% endif %}
                <br>
                <a href="{{ path('app_fiche_film', {'id':movie.id}) }}">En savoir plus</a>
            </div>
        </div>
            <hr>
        {% endfor %}

        <a style="text-align: left;" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </a>
        <a style="text-align: right; float: right;" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
        </a>
    </div>

    <style>
        .corps{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;

        }
        .firstPart{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            padding: 1%;

        }
        .mesFilms{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            padding: 1%;

        }
        .block{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;

        }
        .block_cat{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
        }
        .uneCase_Cat{
            width: 95%;
            height: auto;
            border: 0px solid black;
            padding: 1%;
            margin: 5%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .uneCase{
            width: 50%;
            height: auto;
            border: 0px solid black;
            padding: 1%;
            margin: 5%;
            margin-left: auto;
            margin-right: auto;
        }
        .unMargin{
            margin: 1%;
        }
        .centre{
            margin-left: auto;
            margin-right: auto;

        }
    </style>
{% endblock %}
