{% extends 'base.html.twig' %}

{% block title %}WatchList{% endblock %}

{% block body %}
    <div class="corps">
        <div class="firstPart">
            <h1>Mes films</h1>
            <br>
        </div>
        {% for film in films %}
            {% set movieDetails = controller.getFilmById(film.IdFilm) %}
            <div class="mesFilms">
                <div class="uneCase">
                    <br>
                    <p style="font-size: 150%;"><strong>Titre :</strong> {{ movieDetails.original_title }}</p>
                    <img class="image" style="width: 60%; height: 50%; text-align: center; " src="https://image.tmdb.org/t/p/original{{ movieDetails.poster_path }}">
                    <br>
                    <br>
                    <p><strong>Description :</strong> {{ movieDetails.overview }}</p>
                    <p><strong>Durée : </strong>{{ movieDetails.runtime }}</p>
                    <p><strong>Réalisation : </strong>
                    {% for producer in movieDetails.production_companies %}
                        {{ producer.name }}
                    {% endfor %}
                    </p>
                    <br>
                    <a href="{{ path('WatchListRemove', {'id':movieDetails.id}) }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        Retirer des favoris
                    </a>
                </div>
            </div>
            <hr>
        {% endfor %}



        <a style="text-align: left;" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </a>
        <a style="text-align: right; float: right;" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="75" height="75" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
        </a>
    </div>

    <style>
        .corps{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;

        }
        .firstPart{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            padding: 1%;

        }
        .mesFilms{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            padding: 1%;

        }
        .block{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;

        }
        .uneCase{
            width: 50%;
            height: auto;
            border: 0px solid black;
            padding: 1%;
            margin: 4%;
            margin-left: auto;
            margin-right: auto;
        }
        .unMargin{
            margin: 1%;
        }
        .centre{
            margin-left: auto;
            margin-right: auto;

        }
    </style>
{% endblock %}
