{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block body %}
    <div class="corps">
        <div class="firstPart">
            <h1>Films</h1>
            <br>
            <a class="btn btn-light" href=" {{ path('films', { 'page':1 }) }}">Retour</a>
            <br>
            <div class="mesFilms">
                <div class="uneCase">
                    <br>
                    <p style="font-size: 150%;"><strong>Titre :</strong> {{ movie.original_title }}  </p>
                    <img class="image" style="width: 50%; height: 40%; text-align: center;" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}">
                    <br>
                    <br>
                    <p><strong>Description :</strong> {{ movie.overview }} </p>
                    <p><strong>Durée :</strong> {{ movie.runtime }} minutes.</p>
                    <p><strong>Coût de la production :</strong> {{ movie.budget }} dollars.</p>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <style>
        .corps{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;

        }
        .firstPart{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            padding: 1%;

        }
        .mesFilms{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
            padding: 1%;

        }
        .block{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;

        }
        .block_cat{
            width: auto;
            height: auto;
            border: 0px solid black;
            margin: 2%;
        }
        .uneCase_Cat{
            width: 95%;
            height: auto;
            border: 0px solid black;
            padding: 1%;
            margin: 5%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        .uneCase{
            width: 50%;
            height: auto;
            border: 0px solid black;
            padding: 1%;
            margin: 5%;
            margin-left: auto;
            margin-right: auto;
        }
        .unMargin{
            margin: 1%;
        }
        .centre{
            margin-left: auto;
            margin-right: auto;

        }
    </style>


{% endblock %}
